<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">



    <!-- CSS personalizado -->
    <link rel="stylesheet" href="styles/css/estilo.css">



    <title>Card</title>
</head>

<body>
    <div class="app">


        <header>

            <section class="caixa_search">
                <input class="caixa_texto" placeholder="Pesquisar Carros">
                <a class="botao_search" href="#">
                    <i class="fas fa-search"></i>
                </a>
            </section>
            <div class="icones">
                <!-- icones da direita -->
                <a class="iconesair" href="/styles/img/sair.svg">
                    <img class="img_sair" src="/styles/img/sair.png" alt="sair">
                </a>
                <a class="iconemaiszoom" href="/styles/img/mais-zoom.png">
                    <img class="img_mais_zoom" src="/styles/img/mais-zoom.png" alt="Mais Zoom">
                </a>
                <a class="iconereduzirzoom" href="/styles/img/reduzir-zoom.png">
                    <img class="img_reduzir_zoom" src="/styles/img/reduzir-zoom.png" alt="Reduzir Zoom">
                </a>
                
                <!-- icones da esquerda -->
                <a class="iconesetadireita" href="/styles/img/seta-direita.png">
                    <img class="img_seta_direita" src="/styles/img/seta-direita.png" alt="sair">
                </a>
                <a class="iconesetaesquerda" href="/styles/img/seta-esquerda.png">
                    <img class="img_seta_esquerda" src="/styles/img/seta-esquerda.png" alt="sair">
                </a>
                <a class="iconeportasabertas" href="/styles/img/portas-abertas.png">
                    <img class="img_portas_abertas" src="/styles/img/portas-abertas.png" alt="porta-abertas">
                </a>
            </div>

        </header>




        <!-- Menu lateral Esquerdo -->
        <div onclick="mostrarcarro()" class="menucarros barraderolagem">


            <div class="left_perspective">
                <div class="card_image">
                    <div v-model="carname" class="texto_left_left nome_carro">{{Nome do carro}}
                        <div v-Model="km" class="texto_left km">{{KM}}</div>
                    </div>

                    <img src="https://j4v4.site/MC/carros/zion.png" />

                    <div v-Model="valor" class="texto_left valor">{{Valor}}</div>
                </div>
            </div>
            <div class="left_perspective">
                <div class="card_image">
                    <div v-model="carname" class="texto_left nome_carro">{{Nome do carro}}
                        <div v-Model="km" class="texto_left km">{{KM}}</div>
                    </div>

                    <img src="https://j4v4.site/MC/carros/gauntlet.png" />

                    <div v-Model="valor" class="texto_left valor">{{Valor}}</div>
                </div>
            </div>
            <div class="left_perspective">
                <div class="card_image">
                    <div v-model="carname" class="texto_left nome_carro">{{Nome do carro}}
                        <div v-Model="km" class="texto_left km">{{KM}}</div>
                    </div>

                    <img src="https://j4v4.site/MC/carros/dukes.png" />

                    <div v-Model="valor" class="texto_left valor">{{Valor}}</div>
                </div>
            </div>
            <div class="left_perspective">
                <div class="card_image">
                    <div v-model="carname" class="texto_left nome_carro">{{Nome do carro}}
                        <div v-Model="km" class="texto_left km">{{KM}}</div>
                    </div>

                    <img src="https://j4v4.site/MC/carros/buccaneer.png" />

                    <div v-Model="valor" class="texto_left valor">{{Valor}}</div>
                </div>
            </div>
            <div class="left_perspective">
                <div class="card_image">
                    <div v-model="carname" class="texto_left nome_carro">{{Nome do carro}}
                        <div v-Model="km" class="texto_left km">{{KM}}</div>
                    </div>

                    <img src="https://j4v4.site/MC/carros/picador.png" />

                    <div v-Model="valor" class="texto_left valor">{{Valor}}</div>
                </div>
            </div>
            <div class="left_perspective">
                <div class="card_image">
                    <div v-model="carname" class="texto_left nome_carro">{{Nome do carro}}
                        <div v-Model="km" class="texto_left km">{{KM}}</div>
                    </div>

                    <img src="https://j4v4.site/MC/carros/impaler.png" />

                    <div v-Model="valor" class="texto_left valor">{{Valor}}</div>
                </div>
            </div>
            <div class="left_perspective">
                <div class="card_image">
                    <div v-model="carname" class="texto_left nome_carro">{{Nome do carro}}
                        <div v-Model="km" class="texto_left km">{{KM}}</div>
                    </div>

                    <img src="https://j4v4.site/MC/carros/impaler.png" />

                    <div v-Model="valor" class="texto_left valor">{{Valor}}</div>
                </div>
            </div>
            <div class="left_perspective">
                <div class="card_image">
                    <div v-model="carname" class="texto_left nome_carro">{{Nome do carro}}
                        <div v-Model="km" class="texto_left km">{{KM}}</div>
                    </div>

                    <img src="https://j4v4.site/MC/carros/impaler.png" />

                    <div v-Model="valor" class="texto_left valor">{{Valor}}</div>
                </div>
            </div>
            <div class="left_perspective">
                <div class="card_image">
                    <div v-model="carname" class="texto_left nome_carro">{{Nome do carro}}
                        <div v-Model="km" class="texto_left km">{{KM}}</div>
                    </div>

                    <img src="https://j4v4.site/MC/carros/impaler.png" />

                    <div v-Model="valor" class="texto_left valor">{{Valor}}</div>
                </div>
            </div>
        </div>




        <!-- Menu lateral Direiro -->
        <div onclick="mostrardescricao()">
            <div class="desc_nome_carro">Monkey Dealership</div>
            <div class="right_texto desc_valor">Valor</div>
            <div class="right_texto desc_kg">Kg</div>
            <div class="right_texto desc_acel">Aceleracao</div>
            <div class="right_texto desc_vel">Vel.Max</div>
            <div class="right_texto desc_ade">Aderencia</div>
            <div class="right_texto desc_fre">Frenagem</div>
        </div>











        <!-- Menu de Cores -->
        <Footer style="overflow: hidden;">
            <div class="cores">
                <div class="cor" style="background-color: rgba(255,0,0);" onclick="mudarcor(255,0,0)"></div>
                <div class="cor" style="background-color: rgba(255,255,0);" onclick="mudarcor(255,255,0)"> </div>
                <div class="cor" style="background-color: rgba(255,0,0);" onclick="mudarcor(255,0,0)"></div>
                <div class="cor" style="background-color: rgba(255,255,0);" onclick="mudarcor(255,255,0)"> </div>
                <div class="cor" style="background-color: rgba(255,0,0);" onclick="mudarcor(255,0,0)"></div>
                <div class="cor" style="background-color: rgba(255,255,0);" onclick="mudarcor(255,255,0)"> </div>
                <div class="cor" style="background-color: rgba(255,0,0);" onclick="mudarcor(255,0,0)"></div>
                <div class="cor" style="background-color: rgba(255,255,0);" onclick="mudarcor(255,255,0)"> </div>
                <div class="cor" style="background-color: rgba(255,0,0);" onclick="mudarcor(255,0,0)"></div>
                <div class="cor" style="background-color: rgba(255,255,0);" onclick="mudarcor(255,255,0)"> </div>
                <div class="cor" style="background-color: rgba(255,0,0);" onclick="mudarcor(255,0,0)"></div>
                <div class="cor" style="background-color: rgba(255,255,0);" onclick="mudarcor(255,255,0)"> </div>
                <div class="cor" style="background-color: rgba(255,0,0);" onclick="mudarcor(255,0,0)"></div>
                <div class="cor" style="background-color: rgba(255,255,0);" onclick="mudarcor(255,255,0)"> </div>
                <div class="cor" style="background-color: rgba(255,0,0);" onclick="mudarcor(255,0,0)"></div>
                <div class="cor" style="background-color: rgba(255,255,0);" onclick="mudarcor(255,255,0)"> </div>
                <div class="cor" style="background-color: rgba(255,0,0);" onclick="mudarcor(255,0,0)"></div>
                <div class="cor" style="background-color: rgba(255,255,0);" onclick="mudarcor(255,255,0)"> </div>
                <div class="cor" style="background-color: rgba(255,0,0);" onclick="mudarcor(255,0,0)"></div>
                <div class="cor" style="background-color: rgba(255,255,0);" onclick="mudarcor(255,255,0)"> </div>
                <div class="cor" style="background-color: rgba(255,0,0);" onclick="mudarcor(255,0,0)"></div>
                <div class="cor" style="background-color: rgba(255,255,0);" onclick="mudarcor(255,255,0)"> </div>
                <div class="cor" style="background-color: rgba(255,0,0);" onclick="mudarcor(255,0,0)"></div>
                <div class="cor" style="background-color: rgba(255,255,0);" onclick="mudarcor(255,255,0)"> </div>
                <div class="cor" style="background-color: rgba(255,0,0);" onclick="mudarcor(255,0,0)"></div>
                <div class="cor" style="background-color: rgba(255,255,0);" onclick="mudarcor(255,255,0)"> </div>
                <div class="cor" style="background-color: rgba(255,0,0);" onclick="mudarcor(255,0,0)"></div>
                <div class="cor" style="background-color: rgba(255,255,0);" onclick="mudarcor(255,255,0)"> </div>
                <div class="cor" style="background-color: rgba(255,0,0);" onclick="mudarcor(255,0,0)"></div>
                <div class="cor" style="background-color: rgba(255,255,0);" onclick="mudarcor(255,255,0)"> </div>
                <div class="cor" style="background-color: rgba(255,0,0);" onclick="mudarcor(255,0,0)"></div>
                <div class="cor" style="background-color: rgba(255,255,0);" onclick="mudarcor(255,255,0)"> </div>
                <div class="cor" style="background-color: rgba(255,0,0);" onclick="mudarcor(255,0,0)"></div>
                <div class="cor" style="background-color: rgba(255,255,0);" onclick="mudarcor(255,255,0)"> </div>
                <div class="cor" style="background-color: rgba(255,0,0);" onclick="mudarcor(255,0,0)"></div>
                <div class="cor" style="background-color: rgba(255,255,0);" onclick="mudarcor(255,255,0)"> </div>
                <div class="cor" style="background-color: rgba(255,0,0);" onclick="mudarcor(255,0,0)"></div>
                <div class="cor" style="background-color: rgba(255,255,0);" onclick="mudarcor(255,255,0)"> </div>
            </div>

            <button style="right: 220px;" onclick="testedrive()">Teste Drive</button>
            <button onclick="comprar()">Comprar</button>
        </Footer>





    </div>
</body>

</html>