@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,400;1,600;1,700&display=swap');


body {
    font-family: 'Noto Sans', sans-serif;
    background: #f1f1f1;
    color: #f1f1f1;

}


.card_image {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin: 5px;
    text-align: center;

}

.card_image img {
    width: 180px;
    left: 0;
}


.texto {}


.km {
    float: right;
}

.nome_carro {
    width: 100%;
    text-align: left
}

.valor {
    width: 100%;
    text-align: right;
}

.menucarros {
    width: 250px;
    padding: 50px;
    height: 100%;
    overflow-y: scroll;
}

.perspective {
  


}

.perspectivefilho {
    object-fit: cover;
   
    border-left: 3px solid #f00;
    -moz-transform: skew(0deg, 12deg);
    -webkit-transform: skew(0deg, 12deg);
    -o-transform: skew(0deg, 12deg);
    -ms-transform: skew(0deg, 12deg);
    transform: skew(0deg, 12deg);

    z-index: 998;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.perspectivefilho:hover {
    -moz-transform: skew(0deg, 2deg);
    -webkit-transform: skew(0deg, 2deg);
    -o-transform: skew(0deg, 2deg);
    -ms-transform: skew(0deg, 2deg);
    transform: skew(0deg, 2deg);
    background-color: rgba(0, 0, 0, 1.0);
    z-index: 999;
    cursor: pointer;
}